<div *ngIf="book$ | async as book" class="row">
  <div class="col">
    <h2>{{book.title}} <span class="rating">Rating: <i class="fa fa-star" *ngFor="let _ of ratingToLength(book.rating)"></i></span></h2>
    <h5>By: {{book.author}}</h5>
    <p>Published {{book.date}} | {{book.pages}} pages</p>

    <p><strong>Summary</strong></p>
    <p>{{book.summary}}</p>

    <p>
      <button class="btn btn-primary" (click)="addToCart(book)">Add to Cart ${{book.price.toFixed(2)}}</button>
    </p>
  </div>
</div>
